@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  /*color: #fff;*/
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/*body{*/
  /*background-color: orange;*/
/*}*/

.navbar{
  margin-bottom: 0px;
}

footer{
  .container{
    p{
      text-align: right;
      padding: 0,0,0,0;
      /*float: right;*/
    }
    /*background-color: #3c3f37;*/
  }
}

.download-part{
  background: url("../images/back.png");
  padding-bottom: 10px;
  .title{
    @media (min-width: 978px)
    {
      margin-left: 110px;
    }
    color: #fff;
  }
  .desc{
    @media (min-width: 978px)
    {
      margin-left: 110px;
    }
    color: #fff;
  }
  .download-link{
    @media (min-width: 978px)
    {
      margin-left: 110px;
    }
    color: #fff;
    font-size: 1.2em;
  }
}

.function-part{
  text-align: center;
}
.why-part{
  text-align: center;
  hr{
    size: 10px;
    color: #b9b9b9;
  }
  ul{
    text-align: left;
  }
}

.faq-header{
  background: url("../images/back.png");
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 31px;
  color: #fff;
}
.qaitem{
  color: rgb(120,188,47);
}
.faq-question{
  font-size: 18px;
  font-family: Microsoft Yahei;
  color: rgb(120,188,47);
}
.faq-answer{
  font-size: 14px;
  font-family: Microsoft Yahei;
  color: rgb(141,141,141);
}

.forbidden-title{
  text-align: center;
}
