%footer
  .container
    %hr
    -#%p.small
      -#%img{:src => "../images/weixin-icon.png"}
    %p.small
      %img{:src => "../images/email-icon.png"}
      =mail_to "info@suresecure.com"
    %p.small 
      %img{:src => "../images/mobile-icon.png"}
      0731-89675456
    %p.small 湖南省长沙市岳麓区梅溪湖创新中心2901
    %p.small Copyright © 2016-2017 SureSecure All Rights Reserved
    %p.small 戍融智能版权所有
    %p.small 湘ICP备15013189号
