%header.navbar
  .container
    %p.logo 
      %img{:src => "../images/main-icon.png", :width => "40px"}
      戍融智能
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/"} 首页
        %li
          %a{:href => "/support.html"} 支持
        -#%li
          -#%a{:href => "/faq.html"} 帮助
