%header.navbar
  -#.navbar-inverse
  .container
    %p.logo 山妖卫士
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/"} 首页
        %li
          %a{:href => "/faq.html"} 帮助
        -#%li
          -#%a{:href => "#"} 关于
        -#%li= link_to '帮助', '#'
        -#%li= link_to '关于', '#' 
