.container
  %h1.faq-header 常见问题
  .panel.panel-default
    .panel-heading.faq-question 为什么无法重启
    .panel-body.faq-answer 因为没有设置


1.  问：为什么安装山妖卫士需要绑定微信？
答：微信是山妖卫士发现您的电脑不良上网行为及时通知的唯一通讯途径，也是在您需要退出山妖卫士保护或者进行设置、扫描等高级操作时的授权途径（关于授权参见问题6），我们不会发骚扰消息，请放心。

2.  问：山妖卫士有几种使用模式？
答：使用山妖卫士的两种模式分别是：
1） 事后检查模式。针对大龄孩子（参考年龄13-18，电脑操作能力较强），使用本地扫描功能，具体描述参见问题7。这时，山妖卫士作为一种家长事后检查的工具使用。
2） 事前防御模式。针对低龄孩子（参考年龄5-12，电脑操作能力较弱），提供主动防护模式，具体功能描述参见问题7和8。这时，山妖卫士作为一种事前保护工具，防止您的孩子受到不良侵害。
小提醒：安装山妖卫士之后的默认模式是第1种，如果您同时需要使用第2种，请在山妖卫士的主界面——防护中心里手动设置。由于主动防护或者开机启动的设置会涉及两个高级别的关键操作：浏览器联网代理设置和修改注册表。如果您的电脑里安装了360安全卫士或者其他类别的管家卫士等安全软件，在您设置时会弹出警告窗口，需要点击信任操作，否则山妖卫士无法完成操作，无法对您的电脑进行保护。


3.  问：为什么有时候扫描的结果不是色情图片或视频？
答：因为山妖色情识别引擎虽然是基于国际最先进的深度学习模型以及海量的图片训练而成，对于正常浏览图片的判断正确率达到99.9%（人工鉴黄审核的正确率约为98%），但是仍然有极小概率出错。而且，有些擦边球图片本身难以界定，例如肉色紧身的衣服，或者男人异常裸露身体等。这个模型还在不断自我学习完善中，请给我们多一些时间，我们将做得更好。

4.  问：为什么在线观看黄色视频时，山妖卫士不能检测出来？
答：目前版本的山妖卫士只支持对下载到本地的视频文件检测，在线视频检测是我们未来努力的方向。

5.  问：山妖卫士运行需要联网吗？
答：当然，否则我们无法获得您的授权信息。

6.  问：山妖卫士的操作为什么要授权，如何操作？
答：授权功能是为了防止您的孩子逃避山妖卫士的监护而设置，所有山妖卫士主界面上的功能都需要授权，包括查看主动防护中产生的不良记录、防护中心的设置操作、本地磁盘扫描、退出山妖卫士时，都会要求家长在我们的山妖卫士微信公众号中进行授权操作，一次授权成功会有2个小时的时效，过时授权就会自动失效；或者是在电脑重启之后，授权状态也会自动失效。在首次微信绑定后，默认为授权状态。

7.  问：主动防护产生的不良记录和本地扫描的不良图片有什么区别？
答：主动防护是在使用您的电脑浏览器上网过程中以及本地活跃文件检测中（例如在本地磁盘增加一个图片或视频文件时，不管该文件是从U盘拷贝还是从邮件或其他网络渠道下载到本地），一旦发现有不良图片、视频以及色情网站，都会产生不良记录。
而本地扫描，包括上网记录扫描、全盘扫描、自定义扫描都是对本地磁盘的图片文件或视频的扫描，包括浏览器缓存的历史图片文件。这个功能可以用来检查未被山妖卫士保护时段，是否有不良行为的痕迹，作为一种事后发现手段。

8.  问：主动防护包括哪些功能？
答：具体功能如下：
1）不良网站检测防护，指自动检测浏览的网站是否为色情网站，如果山妖色情识别引擎认为是色情网站，则屏蔽此网站；
2）本地活跃图片文件监控，指监控并记录本地磁盘新创建的色情图片；
3）本地活跃视频文件监控，指监控并记录本地磁盘新创建的色情视频；
4）网页不良图片过滤，指在浏览网页时，被山妖色情识别引擎判定为色情的图片会被滤镜遮挡。
主动防护功能建议配合开机启动使用，因为用户可以通过重启计算机来避开山妖卫士的主动防护，我们将持续优化保证尽量少的占用您的电脑开机启动时间（参见问题11）。


9.  问：强力过滤是什么含义？
答：强力过滤是对网页不良图片过滤的设置，该选项被选中时，山妖色情识别引擎会适当放宽色情图片判断标准，可以将一些擦边球图片也一并过滤，例如非常暴露的三点式等。


10. 问： 为什么装了山妖卫士，我的电脑不能上网了？
答：如何您开启了山妖卫士的主动防护中的不良网站检测防护或者网页不良图片过滤功能，山妖卫士即以VPN（科普参考链接http://baike.baidu.com/link?url=b5J7r437onROeW7cpEBIcOAuYZ-zLMf4piNJfvvk6qGza9zTDv4t8nHDv7a8xwpoOxi6SvNdVTUkG9CsZTgRtRJzY_NxWmtxDp7fA1K8jmRA1G2tTWrmVY0QAUMOosUN）的方式代理您的电脑上网，以起到网站内容过滤的主动防护功能。如果山妖卫士没有正常退出（例如机器死机等异常情况），可能会导致浏览器代理设置没有被复原，因此不能正常上网，这时只需手动把浏览器局域网设置恢复即可，参见下图（以IE为例）。另外，山妖卫士不能与其他的以VPN方式工作的软件同时启动。
  

  11. 问：为什么我设了开机启动，但是开机后不显示山妖卫士的运行图标？
  答：为了减少对您电脑开机启动时间的影响，自启动的山妖卫士会在电脑系统启动后的2分钟后出现图标。

  12. 问：家长如果要在电脑上浏览成人内容如何操作？
  答：我们的主动防护功能可以在授权状态下关闭。需要提醒的是，家长的行为在本地磁盘上同样会留下痕迹，在本地扫描时也会被扫描出来。建议您在浏览完成人内容之后使用山妖卫士本地扫描功能将自己的行为记录清除，以免和您的孩子的记录混淆。
  家长是孩子的第一任老师，也请您以身作则，尽量避免在孩子可使用的电脑上有此类行为。

