---
title: 戍融智能
---

.container.faq-header
  支持
.container
  %br
  %ul
    %li.qaitem
      .faq-question
        为什么安装山妖卫士需要绑定微信？
      .faq-answer
        微信是山妖卫士发现您的电脑不良上网行为及时通知的唯一通讯途径，也是在您需要退出山妖卫士保护或者进行设置、扫描等高级操作时的授权途径（关于授权参见问题6），我们不会发骚扰消息，请放心。
    %hr

