---
title: 戍融智能
---

.container.faq-header
  支持
.container
  %br
  %ul
    %li.qaitem
      .faq-question
        管理程序安装与使用
      .faq-answer
        安装程序
        %a{:href=>"#"} 下载
        %br
        安装说明书
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-ivs-management-system-installation-guide/suresecure-ivs-management-system-installation-guide.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-ivs-management-system-installation-guide/suresecure-ivs-management-system-installation-guide.md.pdf"} PDF
        %br
        使用说明书
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-ivs-management-system-user-guide/suresecure-ivs-management-system-user-guide.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-ivs-management-system-user-guide/suresecure-ivs-management-system-user-guide.md.pdf"} PDF
    %hr
    %li.qaitem
      .faq-question
        嵌入式3D行为分析智能设备
      .faq-answer
        使用说明书
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-embedded-3d-analysis-device-user-guide/suresecure-embedded-3d-analysis-device-user-guide.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-embedded-3d-analysis-device-user-guide/suresecure-embedded-3d-analysis-device-user-guide.md.pdf"} PDF
    %hr
    %li.qaitem
      .faq-question
        ATM防护智能分析设备
      .faq-answer
        使用说明书
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-atm-protection-device-user-guide/suresecure-atm-protection-device-user-guide.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-atm-protection-device-user-guide/suresecure-atm-protection-device-user-guide.md.pdf"} PDF
    %hr
    %li.qaitem
      .faq-question
        智能监控设备与管理服务器程序开发接口
      .faq-answer
        说明文档
        %a{:href=>"http://docs.suresecure.com.cn/pub/srzn_ivs_sdk/srzn_ivs_sdk.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/srzn_ivs_sdk/srzn_ivs_sdk.md.pdf"} PDF
        %br
        该说明文档对应示例源码
        %a{:href=>"https://github.com/suresecure/suresecure-ivs-sdk-demo"} GitHub
        %br
        另外我们提供一个较为完整的模拟报警发送与接收的示例程序及相应的源码
        %a{:href=>"http://downloads.suresecure.com.cn/suresecure-event-demo.zip"} ZIP
        %a{:href=>"https://github.com/suresecure/suresecure-ivs-event-demo"} GitHub
        %br
        编译该示例程序需要下载如下库文件，并在项目内引用
        %a{:href=>"http://downloads.suresecure.com.cn/DevComponents.DotNetBar2.dll"} DLL

    %hr
    %li.qaitem
      .faq-question
        深度学习服务器开发接口
      .faq-answer
        接口说明文档
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-deep-server-api/suresecure-deep-server-api.md.html"} HTML
        %a{:href=>"http://docs.suresecure.com.cn/pub/suresecure-deep-server-api/suresecure-deep-server-api.md.pdf"} PDF
        %br
        示例程序访问客户端
        %a{:href=>"http://downloads.suresecure.com.cn/sureseucre-deep-server-client-demo.zip"} ZIP
        %a{:href=>"https://github.com/suresecure/suresecure-deep-server-client-demo"} GitHub
    %hr

